.header__auth {
  margin-top: 0px;
  padding-top: 19px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.header__auth-buttons {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13.99px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #FFFFFF;
  background-color: transparent;
}
.header__auth li:nth-child(1) .header__auth-buttons {
  border: none;
  padding: 0px 13px;
}
.header__auth li:nth-child(2) .header__auth-buttons {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 7px 13px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__subtitle {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 112px;
  margin-bottom: 22px;
  color: #FFFFFF;
}
.hero__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30.04px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  vertical-align: bottom;
  margin-top: 0px;
  margin-bottom: 12px;
}
.hero__title-highlight {
  text-wrap: nowrap;
}
.hero__description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18.02px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 17px;
}
.hero__button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #FFFFFF;
  background-color: #FF4E50;
  border: none;
  padding: 13px 38px;
  text-wrap: nowrap;
  border-radius: 20px;
  margin-bottom: 138px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #333333;
  margin-top: 60px;
  width: 290px;
  height: 55px;
  text-wrap: nowrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 14px;
}

.partners__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 27px;
}

.partners__name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14.01px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #333333;
}

.partners__description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14.01px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #666666;
}

.partners__button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #FF4E50;
  padding: 12px 59px;
  border: 2px solid #FF4E50;
  border-radius: 30px;
  text-wrap: nowrap;
  background-color: transparent;
  margin-bottom: 57px;
}

.partners__list {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 283px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-hero__bg {
  background-image: url(/image/bg.png);
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=style.css.map */