@import "../utils/variables";

.header
{

    &__logo
    {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 1px;
        text-align: center;
        vertical-align: bottom;
        text-transform: uppercase;
        color: $primary-title-clr;
        display: none;
    }


    &__auth
    {
        margin-top: 0px;
        padding-top: 19px;
        display: flex;
        gap: 4px;
        justify-content: center;
        align-items: center;
    }
    &__auth-buttons
    {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 13.99px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: bottom;
        color: $primary-title-clr;
        background-color: transparent;
    }

    &__auth li:nth-child(1) .header__auth-buttons
    {
        border: none;
        padding: 0px 13px;
    }

    &__auth li:nth-child(2) .header__auth-buttons
    {
        border: 2px solid $primary-title-clr;
        border-radius: 20px;
        padding: 7px 13px;
    }
}

@media (min-width: 768px) and (max-width: 1200px)
{
    .header__logo
    {
        display: block;
        margin: 0px;
    }

    .header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;
    }

    .header__auth
    {
       margin: 0px;
       padding: 0px;
    }
}

@media (min-width: 1200px)
{
    .header__logo
    {
        display: block;
        margin: 0px;
    }   

     .header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;
    }

    .header__auth
    {
       margin: 0px;
       padding: 0px;
    }
}