@import "./components/footer";
@import "./components/header";
@import "./components/hero";

ul
{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
}

a
{
    text-decoration: none;
}

.container
{
    max-width: 933px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}