@import "../utils/variables";



@keyframes btn-hover
{
    0%   { background-color: rgb(255, 0, 0); }    
    25%  { background-color: rgb(0, 255, 0); }    
    50%  { background-color: rgb(0, 0, 255); }    
    75%  { background-color: rgb(255, 255, 0); }  
    100% { background-color: rgb(255, 0, 0); }    
}


.item
{
    display: flex;
    justify-content: center;
    width: calc((100% - 197px)/2);
    flex-wrap: wrap;
    margin-bottom: 7px;

    &__btn:hover
    {
        animation-name: btn-hover;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &__btn
    {
        font-family: "Inter";
        font-weight: 800;
        font-size: 25.92px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: $main-color;
        background-color: $decor-color;
        border: 0px;
        width: 160px;
        height: 41px;
        border-radius: 17px;
        padding: 5px 45px 5px 45px;
        margin-top: 12px;
    }

}

.menu
{
    &__title
    {
        font-family: "Inter";
        font-weight: 100;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $main-color;
        text-align: center;

    }

    &__list
    {
        display: flex;
        flex-wrap: wrap;
        padding-inline-start: 0;
        margin: 0px;
        column-gap: 100px;
        justify-content: center;
        padding-bottom: 74px;
    }

    &__item-info
    {
        
        width: 328px;
        height: 229px;
        border: solid 1px $main-color;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}


.menu__item-img
{
    width: 250px;
    height: 160px;
}

.menu__item-name
{
    font-family: "Inter";
    font-weight: 800;
    font-size: 25.92px;
    line-height: 100%;
    letter-spacing: 0%;
    color:$main-color;
}





