:root
{
    --main-orange-color: #FA4A0C;
    --gray-text-color: #737373;
    --black-main-color: #252B42;
    --light-gray-text-color: #F6F6F6;
    --main-white-color: #FFFFFF;
    --main-text-black: #000000;
}

a
{
    text-decoration: none;
}


.header-content
{
    display: flex;
    align-items: center;
    justify-content: ;
}

ul
{
    list-style-type: none;
}

.container
{
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-ul
{
    display: flex;
    gap: 94px;
}

.header-logo
{
    margin-left: 90px;
}

.navigation
{
    display: flex;
    justify-content: end;
    margin-left: 455px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.navigation-a:hover
{
    
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-orange-color);
}

.navigation-a
{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black-main-color);
}

.section-1-background
{
    background-image: url(./photo/background-section1.jpg);
    width: 1440px;
    height: 619px;
    top: -1px;
    gap: 0px;
    opacity: 0px;

}

.section-1-h3-app
{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--light-gray-text-color);
    margin: 0px;
    padding-top: 80px;

}

.main-h1
{
    font-family: "Poppins";
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);
    padding-top: 9px;
    padding-left: 103px;
    padding-right: 103px;
    width: 1005px;
    height: 170px;
    margin: 0px;
}

.main-h1-div
{
    
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.main-h4
{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--light-gray-text-color);
    margin-top: 5px;
}

.main-delivery-button
{
    width: Fixed (236px)px;
    height: Hug (68px)px;
    padding: 16px 58.5px 16px 58.5px;
    gap: 0px;
    border-radius: 30px;
    border: 0px;
    opacity: 0px;
    background-color: var(--main-orange-color);
   
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);

    box-shadow: 0px 10px 30px 0px #B7322733;

}

.main-menu-button
{
    display: flex;
    width: 236px;

    justify-content: center;

    height: 68px;
    padding: 16px 58.5px 16px 58.5px;
    gap: 0px;
    border-radius: 30px;
    border: 0px;
    opacity: 0px;
    background-color: transparent;

    
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);
    
    border: 1px solid #FFFFFF

}

.main-buttons
{
    display: flex;
    justify-content: center;
    gap: 67px;
    margin-top: 54px;
}

.main-h2
{
    width: 426px;
    height: 36px;
    left: 527px;
    top: 831px;

    font-family: "Poppins";
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    
    letter-spacing: 0.1px;

    opacity: 0.8;

    margin: 0px;
}

.main-h2-div
{
    display: flex;
    justify-content: center;
    padding-top: 56px;
    
}

.section-2-li-h3
{
    
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-orange-color);

}

.section-2-li-h2
{
    
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black-main-color);
}

.section-2-ul-li
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-2-content-text
{
    width: 568px;
    height: 280px;
    top: -473px;
    left: 712px;
    gap: 70px;
    opacity: 0px;
}

.section-2-li-p
{
    
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray-text-color);

}

.section-2-ul-li-2
{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-2-img
{
    padding-top: 70px;
}
.section-2-img-2
{
    padding-bottom: 180px;
}

.section-3-h2
{
    margin: 0px;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);
    padding-top: 141px;
}

.section-3-background
{
    background-image: url(./photo/background-section3.png);
    width: 1440px;
    height: 509px;
    top: 148px;
    gap: 50px;
    opacity: 0px;
    
}

.section-3-h4
{

    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.secton-3-playstore-button
{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);

    width:142px;
    height:64px;
    padding: 18px 31px 18px 31px;
    gap: 10px;
    border-radius: 10px;
    border: 0px;
    opacity: 0px;

    background-color: var(--main-orange-color);
}

.section-3-buttons
{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 51px;
    padding-bottom: 132px;
}

.section-3-app-store-button
{
    width: Hug (173px)px;
    height: Hug (60px)px;
    padding: 16px 45px 16px 45px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background-color: transparent;
    border: 1px solid #FFFFFF;

    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--main-white-color);

}

.footer-subtitle
{
    
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #5C5C5C;

}

.footer
{
    display: flex;
    justify-content: center;
}

.footer-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1210px;
    height: 133px;
    top: 735px;
    gap: 324px;
    opacity: 0px;
    
    padding-top: 77px;
    padding-bottom: 67px;
 

}