.statistics 
{
  width: 600px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.title 
{
  margin: 0;
  padding: 45px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4a4a4a;
}

.statList 
{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.item 
{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 105px;
  color: white;
}

.item:nth-child(1) 
{
  background-color: #4fc3e8;
}

.item:nth-child(2) 
{
  background-color: #a83ee8;
}

.item:nth-child(3) 
{
  background-color: #e83e63;
}

.item:nth-child(4) 
{
  background-color: #20aeba;
}


.label 
{
  margin-bottom: 12px;
  font-size: 20px;
}

.percentage 
{
  font-size: 30px;
  font-weight: 300;
}