/* .list 
{
    list-style: none;
}

.lazy-img 
{
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
    transition: 0.3s;
}

.img__item
{
    width: 250px;
    height: 250px;
}

.lazy-img 
{
  opacity: 0.5;
}

.img__item 
{
  transition: 0.5s;
} */


.side-menu 
{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #eee;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

.side-menu ul 
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li 
{
  margin-bottom: 10px;
}

.side-menu a 
{
  text-decoration: none;
  color: black;
}

.side-menu a.active 
{
  font-weight: bold;
  color: red;
}

.side-menu .views 
{
  font-size: 12px;
  margin-left: 5px;
}

.buttons 
{
  position: fixed;
  top: 10px;
  right: 10px;
}

main 
{
  margin-left: 150px;
}

section 
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

section img 
{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
  opacity: 0.5;
  transition: opacity 0.5s;
}

section img.loaded 
{
  opacity: 1;
}