.container
{
    width: 600px;
    height: 600px;
    outline: black solid;
}

.item
{
    width: 200px;
    height: 200px;
    position: relative;
}

.item:nth-child(1)
{
    background-color:coral;
    top: 100px;
    left: 100px;
}

.item:nth-child(2)
{
    background-color:cornflowerblue;
    z-index: 1;
    left: 200px;
}

.item:nth-child(3)
{
    background-color:mediumseagreen;
    top: -100px;
    left: 300px;
}