%text
{
    font-family: "Montserrat";
    font-size: 14px;
}

%title-decor
{
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    line-height: 34.82px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

%headline
{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}