$decor-color: #95E1D3;
$highlight-line-color: #F38181;
$main-color: #333333;
$info-color: #B6B6B6;
$footer-text-color: #000000;

:root
{
   
    --gray-p-color: #B6B6B6;
    --footer-p-color: #000000;
}

