@import "../sass/components/header";
@import "../sass/components/hero";
@import "../sass/components/main";

ul
{
    list-style-type: none;
    padding: 0px;
}

a
{
    text-decoration: none;
}

.container
{
    max-width: 283px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-hero__bg
{
    background-image: url(/image/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 768px) and (max-width: 1200px)
{

    .container
    {
        max-width: 670px;
    }

    .header-hero__bg
    {
        background-image: url(/image/tablet-header__bg.png);
    }
}

@media (min-width: 1200px) and (max-width: 1440px)
{

    .container
    {
        max-width: 940px;
    }

    .header-hero__bg
    {
        background-image: url(/image/desk-header__bg.png);
    }
}