@import "./components/footer";
@import "./components/hero";
@import "./components/header";
@import "./components/menusection";
@import "./components/qualsection";
@import "./components/traditionalsection";

.container
{
    max-width: 1060px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}


body
{
    background-color: $bg-color;
}

ul
{
    list-style-type: none;
    padding: 0px;
}

a
{
    text-decoration: none;
}

 