.order
{
    background-image: url(../assets/EatsOrderBg.png);
    background-size: cover;
    height: 509px;
}

.order__title
{
    margin: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    padding-top: 141px;
}

.order__info
{
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.order__btns-playstore
{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    width:142px;
    height:64px;
    padding: 18px 31px 18px 31px;
    gap: 10px;
    border-radius: 10px;
    border: 0px;
    opacity: 0px;
    background-color: #FA4A0C;
}

.order__btns
{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 51px;
    padding-bottom: 132px;
}

.order__btns-appstore
{
    width: Hug (173px)px;
    height: Hug (60px)px;
    padding: 16px 45px 16px 45px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}
