@import "../utils/variables";

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 238px;
    
    &__subtitle
    {
        
        font-family: "Roboto";
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.10000000149011612px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #5C5C5C;

    }

}
