.main__list-title, .footer__button {
  font-family: "Montserrat";
  font-size: 18px;
}

.footer {
  background-color: #222222;
}
.footer__form-label {
  display: flex;
}
.footer__title {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-top: 92px;
  padding-bottom: 114px;
}
.footer__form-input::-moz-placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: -0.349999994px;
  text-decoration-skip-ink: none;
}
.footer__form-input::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: -0.349999994px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer__form-input {
  width: 455px;
  height: 50px;
  top: 2px;
  left: 1px;
  gap: 0px;
  opacity: 0px;
}
.footer__form-input-message {
  min-width: 455px;
  min-height: 186px;
  margin-left: 30px;
}
.footer__button {
  font-weight: 700;
  line-height: 21.94px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
  background-color: #FED136;
  width: 242px;
  height: 68px;
  top: 496px;
  left: 582px;
  gap: 0px;
  opacity: 0px;
  border: 0px;
}
.footer__button-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 115px;
}
.footer__form {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-link {
  color: #FED136;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-top: 55px;
}
.header__nav {
  gap: 30px;
}
.header__logo {
  color: #FED136;
  font-family: "Bilbo Swash Caps";
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 1.2999999523px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.main__list-title, .footer__button {
  font-family: "Montserrat";
  font-size: 18px;
}

.main__list {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  gap: 41px;
  text-align: center;
  margin-bottom: 83px;
}
.main__title {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.main__list-title {
  color: #222222;
  line-height: 20px;
  letter-spacing: -0.4499999881px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0px;
  margin-top: 40px;
}
.main__list-text {
  color: #777777;
  font-family: "RobotoSlab";
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: -0.349999994px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 933px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */